extends layouts/default.pug
include mixins/box.pug

block main
  h1 Trang chủ

  h2 Xin chào #{info.fullName}
  h2 Email: #{info.email}


  include partials/category.pug

  hr

  div(class="list-box")
    +box("Box số 1", "Mô tả box số 1")
    +box("Box số 2", "Mô tả box số 2")
    +box("Box số 3", "Mô tả box số 3")
    +box("Box số 4", "Mô tả box số 4")

  hr
