extends ../../layouts/default
include ../../mixins/box-head

block main
  .container.my-3
    .row
      .col-12
        +box-head("Product List")

    .row
      .col-4.mb-3
        .product-item
          .inner-image
            img(src="https://cdn.dummyjson.com/products/images/fragrances/Gucci%20Bloom%20Eau%20de/thumbnail.png", alt="Iphone 9")
          .inner-content
            h3.inner-title Gucci Bloom Eau de
              .inner-price-new $80
              .inner-price-old $100
              .inner-discount -20%
